# Server Environment Variables
PORT=5001
NODE_ENV=development

# MongoDB Connection String
# Leave blank to use auto-started embedded in-memory MongoDB.
# Or provide your local MongoDB / MongoDB Atlas URI:
MONGODB_URI=mongodb+srv://db_user:password@cluster0
# JWT Configuration
JWT_SECRET=access_token
JWT_REFRESH_SECRET=refresh_token
JWT_EXPIRES_IN=120m
JWT_REFRESH_EXPIRES_IN=7d

# CORS
CORS_ORIGIN=http://localhost:5173
